In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [ ]:
Email = pd.read_csv('messages.csv',encoding='utf-8')# For uploading  the Dataset
Email.head(10)

                                             subject  ... label
0            job posting - apple-iss research center  ...     0
1                                                NaN  ...     0
2  query : letter frequencies for text identifica...  ...     0
3                                               risk  ...     0
4                           request book information  ...     0
5  call for abstracts : optimality in syntactic t...  ...     0
6                m . a . in scandinavian linguistics  ...     0
7  call for papers : linguistics session of the m...  ...     0
8                    foreign language in commercials  ...     0
9  fulbright announcement : please post / dissemi...  ...     0

[10 rows x 3 columns]

In [ ]:
print ('Shape = >',Email.shape)#Check the shape

Shape = > (2893, 3)

In [ ]:
print ('Spam and Not Spam  counts','\n',Email.label.value_counts())#Count that How Many spam and Not spam

Spam and Not Spam  counts
 0    2412
1     481
Name: label, dtype: int64

In [ ]:
Email=Email.dropna()

In [ ]:
print ('Shape = >',Email.shape)#Check the shape  after drop the NAN subjects

Shape = > (2831, 3)

In [ ]:
print ('Spam and Not Spam  counts','\n',Email.label.value_counts())#Count that How Many labels have spam and not spam after Drop the NAN subjects value

Spam and Not Spam  counts
 0    2363
1     468
Name: label, dtype: int64

In [ ]:
print ('Negitive ratio = ', round(len(Email[Email['label']==1]) / len(Email.label),2)*100,'%')#Calculate the Ratio For NotSpam
print ('Positive ratio  = ', round(len(Email[Email['label']==0]) / len(Email.label),2)*100,'%')#Calculate the Ratio For Spam

Negitive ratio =  17.0 %
Positive ratio  =  83.0 %

In [ ]:
Email['length1'] = Email.message.str.len()#ADD the Length Coulmn for Messsage Length
Email['length2'] = Email.subject.str.len()#ADD the Length Coulmn for Subjects Length
Email.head(2)

                                             subject  ... length2
0            job posting - apple-iss research center  ...      39
2  query : letter frequencies for text identifica...  ...      50

[2 rows x 5 columns]

In [ ]:
#For Messages 
from unicodedata import normalize#Remobve the Accent For the Meassage

remove_accent = lambda text: normalize("NFKD", text).encode("ascii", "ignore").decode("utf-8", "ignore")

Email['message'] = Email['message'].apply(remove_accent)

In [ ]:
Email['message'] = Email['message'].str.lower()#Convert itno the Lower case

In [ ]:
Email['message'] = Email['message'].str.replace(r'^.+@[^\.].*\.[a-z]{2,}$',#Remove the Punctution 
                                 'emailaddress')


Email['message'] = Email['message'].str.replace(r'^http\://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(/\S*)?$',
                                  'webaddress')

Email['message'] = Email['message'].str.replace(r'£|\$', 'dollers')
    

Email['message'] = Email['message'].str.replace(r'^\(?[\d]{3}\)?[\s-]?[\d]{3}[\s-]?[\d]{4}$',
                                  'phonenumber')

    

Email['message'] = Email['message'].str.replace(r'\d+(\.\d+)?', 'numbr')

In [ ]:
Email['message'] = Email['message'].str.replace(r'[^\w\d\s]', ' ')

Email['message'] = Email['message'].str.replace(r'\s+', ' ')

Email['message'] = Email['message'].str.replace(r'^\s+|\s+?$', '')

In [ ]:
#For Subjects 
from unicodedata import normalize#Remobve the Accent For the Meassage

remove_accent = lambda text: normalize("NFKD", text).encode("ascii", "ignore").decode("utf-8", "ignore")

Email['subject'] = Email['subject'].apply(remove_accent)

In [ ]:
Email['subject'] = Email['subject'].str.lower()#Convert itno the Lower case

In [ ]:
Email['subject'] = Email['subject'].str.replace(r'^.+@[^\.].*\.[a-z]{2,}$',#Remove the Punctution 
                                 'emailaddress')


Email['subject'] = Email['subject'].str.replace(r'^http\://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(/\S*)?$',
                                  'webaddress')

Email['subject'] = Email['subject'].str.replace(r'£|\$', 'dollers')
    

Email['subject'] = Email['subject'].str.replace(r'^\(?[\d]{3}\)?[\s-]?[\d]{3}[\s-]?[\d]{4}$',
                                  'phonenumber')

    

Email['subject'] = Email['subject'].str.replace(r'\d+(\.\d+)?', 'numbr')

In [ ]:
Email['subject'] = Email['subject'].str.replace(r'[^\w\d\s]', ' ')

Email['subject'] = Email['subject'].str.replace(r'\s+', ' ')

Email['subject'] = Email['subject'].str.replace(r'^\s+|\s+?$', '')

In [ ]:
Email.head()

                                             subject  ... length2
0              job posting apple iss research center  ...      39
2   query letter frequencies for text identification  ...      50
3                                               risk  ...       4
4                           request book information  ...      24
5  call for abstracts optimality in syntactic theory  ...      51

[5 rows x 5 columns]

In [ ]:
Email.shape

(2831, 5)

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#For Message
import string
import nltk
from nltk.corpus import  stopwords
#Remove the Stopwords
stop_words = set(stopwords.words('english') + ['u', 'ü', 'ur', '4', '2', 'im', 'dont', 'doin', 'ure',''])

Email['message'] = Email['message'].apply(lambda x: ' '.join(
    term for term in x.split() if term not in stop_words))

In [ ]:
#For Subjects
import string
import nltk
from nltk.corpus import  stopwords
#Remove the Stopwords
stop_words = set(stopwords.words('english') + ['u', 'ü', 'ur', '4', '2', 'im', 'dont', 'doin', 'ure',''])

Email['subject'] = Email['subject'].apply(lambda x: ' '.join(
    term for term in x.split() if term not in stop_words))

In [ ]:
message_processed= Email["message"].iloc[0:2831]
print(message_processed)

0       content length numbr apple iss research center...
2       posting inquiry sergei atamas satamas umabnet ...
3       colleague researching differing degrees risk p...
4       earlier morning phone friend mine living south...
5       content length numbr call papers best good eno...
                              ...
2888    hello thanks stopping taken many new pics made...
2889    list owner kiddin invited join mailing list li...
2890    judging return post must sounded like kind sel...
2891    gotcha two separate fallacies argument n ary c...
2892    hello working thesis concerning attitudes towa...
Name: message, Length: 2831, dtype: object

In [ ]:
processed2= Email["subject"].iloc[0:2831]
print(processed2)

0                 job posting apple iss research center
2          query letter frequencies text identification
3                                                  risk
4                              request book information
5            call abstracts optimality syntactic theory
                             ...
2888                              love profile ysuolvpv
2889                                  asked join kiddin
2890                      anglicization composers names
2891    numbr numbr comparative method n ary comparison
2892                         american english australia
Name: subject, Length: 2831, dtype: object

In [ ]:
import nltk
nltk.download('punkt')
import nltk
nltk.download('wordnet')
from nltk import stem

stemmer = stem.SnowballStemmer('english')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
def alternative_review_messages(msg):
  msg = " ".join([stemmer.stem(word) for word in msg])

In [ ]:
Lemmatizer=nltk.stem.WordNetLemmatizer()#Lemmatize the message to form the words to its root form 
for i in range(len(message_processed)):
  words=nltk.word_tokenize(message_processed[i])
  words=[Lemmatizer.lemmatize(w) for w in words]
  message_processed[i]=" ".join( words)

KeyError: ignored